<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log" >

  <variable name="linePrefix" value="${date:format=yyyy-MM-dd HH\:mm\:ss} ${pad:padding=5:inner=${uppercase:${level}}} ${callsite:IncludeSourcePath=false} - "/>
  <variable name="exceptionFormat" value="${onexception:${newline}EXCEPTION OCCURRED\:${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>

  <targets>
    <target xsi:type="ColoredConsole"
            name="colored_console"
            layout="${linePrefix}${message}${exceptionFormat}"/>

    <target xsi:type="File"
            name="file"
            layout="${linePrefix}${message}${exceptionFormat}"
            fileName="${basedir}\Logs\classroomwindows.log"
            archiveEvery="Day"
            archiveDateFormat="YYYY-MM-dd"
            archiveNumbering="Sequence"
            archiveFileName="Logs\classroomwindows_${shortdate}.log"
            createDirs="true"
            fileNameKind="Relative"
            maxArchiveFiles="14" />

    <target xsi:type="OutputDebugString"
            name="string"
            layout="${linePrefix}${message}${exceptionFormat}${newline}"/>

    <target type="DbgPrint"
            name="dbgPrint"
            layout="${linePrefix}${message}${exceptionFormat}${newline}"/>
    
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="colored_console"/>
    <logger name="*" minlevel="Error" writeTo="file"/>
    <logger name="*" minlevel="Error" writeTo="string"/>
    <logger name="*" minlevel="Error" writeTo="dbgPrint"/>
  </rules>
  
</nlog>